body{
    background-color: #EAF4F4 !important;
}
.cal{
     border-color: #1F2937;
    border-radius: 10px;
    border-style: solid;
    background-color: #FFFFFF;
    width: 2000px;
    margin-top: 10px;
}
.tituloo1{
         border-color: #1F2937;
    border-radius: 10px;
    border-style: solid;
    background-color: #FFFFFF;
    width: 2000px;
    margin-top: 10px;
}
.marcos{
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 20px;
    justify-content: center;
}
.david1{
    border-color: #1F2937;
    border-radius: 10px;
    border-style: solid;
    background-color: #FFFFFF;
    width: 200px;
    margin-top: 10px;
    margin-right: 20%;
    width: 300px;
    
}
.david2{
    border-color: #1F2937;
    border-radius: 10px;
    border-style: solid;
    background-color: #FFFFFF;
    width: 200px;
    margin-top: 10px;
   margin-left: 10%;
   width: 300px;
}
.comida{
   display: flex;
   margin-left: 280px;
   margin-top: 20px;
}
.tony1{
    border-color: #1F2937;
    border-radius: 10px;
    border-style: solid;
    background-color: #FFFFFF;
    width: 200px;
    width: 450px;
  
}
.tony2{
     border-color: #1F2937;
    border-radius: 10px;
    border-style: solid;
    background-color: #FFFFFF;
    width: 200px;
    width: 450px;
    margin-left: 460px;
}


